<% include partials/head.ejs %>
<% include partials/navbar.ejs %>
        

<main class="wrapper">
    <% var proficonurl = "http://ddragon.leagueoflegends.com/cdn/8.4.1/img/profileicon/" + summ.profileIconId + ".png" %>
    
    <div class="summonertitle">
        <img class="img-circle" src="<%=proficonurl%>">
        <h1><%= summ.name %></h1>        
    </div>
    
    <div class="tables">
        <table>
            <tr>
                <th>Summoner-V3</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>name:</td>
                <td><%= summ.name %></td>
            </tr>
            <tr>
                <td>id:</td>
                <td><%= summ.id %></td>
            </tr>
            <tr>
                <td>summonerLevel:</td>
                <td><%= summ.summonerLevel %></td>
            </tr>
            <tr>
                <td>accountId:</td>
                <td><%= summ.accountId %></td>
            </tr>
            <tr>
                <td>profileIconId:</td>
                <td><%= summ.profileIconId %></td>
            </tr>
            <tr>
                <td>revisionDate:</td>
                <td><%= summ.revisionDate %></td>
            </tr>
        </table>
        
        
        
        
        
        <% if (league.length !== 0) { %>
            <table>
                <tr>
                    <th>League-V3</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>leagueId:</td>
                    <td><%= league[0].leagueId %></td>
                </tr>
                <tr>
                    <td>leagueName:</td>
                    <td><%= league[0].leagueName %></td>
                </tr>
                <tr>
                    <td>tier:</td>
                    <td><%= league[0].tier %></td>
                </tr>
                <tr>
                    <td>queueType:</td>
                    <td><%= league[0].queueType %></td>
                </tr>
                <tr>
                    <td>rank:</td>
                    <td><%= league[0].rank %></td>
                </tr>
                <tr>
                    <td>playerOrTeamId:</td>
                    <td><%= league[0].playerOrTeamId %></td>
                </tr>
                <tr>
                    <td>playerOrTeamName:</td>
                    <td><%= league[0].playerOrTeamName %></td>
                </tr>
                <tr>
                    <td>leaguePoints:</td>
                    <td><%= league[0].leaguePoints %></td>
                </tr>
                <tr>
                    <td>wins:</td>
                    <td><%= league[0].wins %></td>
                </tr>
                <tr>
                    <td>losses:</td>
                    <td><%= league[0].losses %></td>
                </tr>
                <tr>
                    <td>veteran:</td>
                    <td><%= league[0].veteran %></td>
                </tr>
                <tr>
                    <td>inactive:</td>
                    <td><%= league[0].inactive %></td>
                </tr>
                <tr>
                    <td>freshBlood:</td>
                    <td><%= league[0].freshBlood %></td>
                </tr>
                <tr>
                    <td>hotStreak:</td>
                    <td><%= league[0].hotStreak %></td>
                </tr>
            </table>
        <% } else { %>
            <table>
                <tr>
                    <td>League-V3</td>
                    <td>Unranked</td>
                </tr>
            </table>
        <% } %>
    </div>
    
  
</main>

        

<% include partials/footer.ejs %>