<% include partials/header.ejs %>
        

<main class="wrapper">
    <% var proficonurl = "http://ddragon.leagueoflegends.com/cdn/8.4.1/img/profileicon/" + summ.profileIconId + ".png" %>
    
    <div class="summonertitle">
        <img class="img-circle" src="<%=proficonurl%>">
        <h1><%= summ.name %></h1>        
    </div>
    
    <div class="tables">
        <table>
            <tr>
                <th>Summoner-V3</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>name:</td>
                <td><%= summ.name %></td>
            </tr>
            <tr>
                <td>id:</td>
                <td><%= summ.id %></td>
            </tr>
            <tr>
                <td>summonerLevel:</td>
                <td><%= summ.summonerLevel %></td>
            </tr>
            <tr>
                <td>accountId:</td>
                <td><%= summ.accountId %></td>
            </tr>
            <tr>
                <td>profileIconId:</td>
                <td><%= summ.profileIconId %></td>
            </tr>
            <tr>
                <td>revisionDate:</td>
                <td><%= summ.revisionDate %></td>
            </tr>
        </table>
        
        
        <table>
            <tr>
                <th>Summoner-V3</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>name:</td>
                <td><%= summ.name %></td>
            </tr>
            <tr>
                <td>id:</td>
                <td><%= summ.id %></td>
            </tr>
            <tr>
                <td>summonerLevel:</td>
                <td><%= summ.summonerLevel %></td>
            </tr>
            <tr>
                <td>accountId:</td>
                <td><%= summ.accountId %></td>
            </tr>
            <tr>
                <td>profileIconId:</td>
                <td><%= summ.profileIconId %></td>
            </tr>
            <tr>
                <td>revisionDate:</td>
                <td><%= summ.revisionDate %></td>
            </tr>
        </table>
    </div>
    
    
  
</main>

        

<% include partials/footer.ejs %>